# Default ignores for project, notebooks and coverage.
__pychache__
Notebooks/.ipynb_checkpoints/*
.idea
.coverage
.cumulative
.single

# Ignore specific Test directories, which hold testing outputs.
/Tests/.pytest_cache
/Tests/htmlcov

# Ignore all notebook backups, python C code and generated images.
*.ipynb
*.pyc
*.png
*.jpeg
*.docx
*.docx#
